html, body { margin: 0; padding: 0; background-color: rgb(245, 251, 255); }
span {
  user-select: none;
}

#nomination-page {
  position: absolute;
  background-color: rgb(50,0,255);
}
.page {
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s;
  min-height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#main-page {
  transition: background-color 0.5s ease-out;
}

.nom {
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.game-board {
  // border: 2px solid blue;
  width: 80vw;
  /* background-color: orange; */
}
.main-grid {
  display: flex;
}
.player-icon {
  // color:white;
  // border: 1px solid black;
  // background-color: #444;
  box-sizing: border-box;
  margin: 2px;
  transition: background-color 0.3s ease-out;
}
.items {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  font-size: 2em;
  transition: background 0.3s;
}
.grid-item {
  background: beige;
  display: inline;
  // border: 1px solid black;
  height: 1.5em;
  margin: 10px 40px;
  font-weight: bolder;
}
.answer-btn {
  font: 3em arial black;
  background: rgb(0, 255, 0);
  transition: background 0.3s;
  margin: 10px;
}
.no-btn {
  background: rgb(255,0,0);
  color: white;
}
#the-question {
  width: 60%;
  margin: auto;
}
#countdown { 
  text-shadow: 2px 2px cyan;
}

$light: rgb(69, 0, 101);
$glow: rgb(0, 255, 0);
.glow {
  color: $light;
  text-shadow: 
    0 0 1px $light,
    0 0 5px $light,
    0 0 10px $glow;
  animation: glow0 .2s infinite alternate, glow1 .3s infinite alternate;
}

@keyframes glow0 {
  0%   {}
  100% { 
    text-shadow: 
      0 0 1px $glow,
      0 0 5px $glow,
      0 0 10px $light;
  }
}
@keyframes glow1 {
  0%   {}
  100% { 
    color: $glow;
  }
}














/// UTILITY ///
.disabled {
  background: gray;
  color: #333;
}